*{
	margin:0;
	padding:0;
}

html, body{
	color:#eee;
    background-attachment: fixed;
    background-color: rgb(200,200,200);
	background:url('img/bg.jpg') repeat-x #0c0d10;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font:13px "Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
}

#slideshow{
	height: 90%;
    margin: 3% auto 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#slideshow * {
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}

#slideshow ul{
	list-style:none outside none;
	position:relative;
}

#slideshow li{
	position:absolute;
	display:none;
	z-index:10;
	width: 100%;
}

#slideshow li div {
    position:absolute;
    top: -30px;
    width: 100%;
    text-align: center;
}

#slideshow li:first-child,
#slideshow .slideActive{
	display:block;
	z-index:1000;
}

#slideshow canvas {
	display:none;
	position:absolute;
	z-index:100;
}

#slideshow canvas,
#slideshow img {
    -o-box-shadow:0 0 10px #777;
    -ms-box-shadow:0 0 10px #777;
    -moz-box-shadow:0 0 10px #777;
    -webkit-box-shadow:0 0 10px #777;
    box-shadow:0 0 10px #777;
    border: 1px solid #FFFFFF;
    border: 1px solid rgba(255,255,255,0.5);
    margin: 10px auto;
    max-width: 95%;
    max-height: 95%;
    height: auto !important;
}

#slideshow .arrow{
	height:86px;
	width:60px;
	position:absolute;
	background:url('img/arrows.png') no-repeat;
	top: 43%;
	cursor:pointer;
	z-index:5000;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}
